<%= link_to "Home", root_path, class: "home-btn" %>

<h1>Your Recipes</h1>
<%= link_to "Add Recipe", new_recipe_path, class: "recipe-btn" %>
<hr />
<% @recipes.each do |recipe| %>

  <div class="recipe-container">
    <div class="recipe-actions">
      <p class="recipe-name" ><%= recipe.name %></p>
       <% if can? :destroy, recipe %>
        <%= button_to 'Delete Recipe', recipe_path(recipe), method: :delete %>
       <% end %>
      <%= link_to 'View Recipe', recipe_path(recipe), class: "view-recipe-btn" %>
    </div>

    <div>
      <%= recipe.description %>
    </div>
  </div>
<% end %>
