<%= link_to "Home", root_path, class: "home-btn" %>

<h1>Public Recipes</h1>

<hr />

<% @recipes.each do |recipe| %>
   <div class="recipe-container">
    <div class="recipe-actions">
      <p class="recipe-name" ><%= recipe.name %></p>
      <span>By: <%= recipe.user.name %></span>
      <%= link_to 'View Recipe', recipe_path(recipe), class: "view-recipe-btn" %>
    </div>

    <div>
      <%= recipe.description %>
    </div>
  </div>
<% end %>